<div id='team_info' class='team_info'><strong>{{team.getTeamName()}}, 
{% if team.getTeamAssisted() %}
    assisted mode
{% else %}
    not assisted
{% endif %}
</strong></div>

<div class='team_info_players'> Team currently has <span id='nb_players'>{{team.getTeamPlayers().count()}}</span> players</div>
<div id='alerts' class='alerts'>&nbsp;</div><br/>

<div id='team_container' class='team_container connect_sortable'>
{% for player in arrSelectedPlayers %}

   {% include 'DecisionBundle:Player:player.box.html.twig'%}

{% endfor %}
</div>
<div class='players_container connect_sortable' id='players_container'>

{% if arrPlayers|length > 0 %}
{% for player in arrPlayers %}

   {% include 'DecisionBundle:Player:player.box.html.twig'%}

{% endfor %}
{% else %}
    <div> There are no players left to list. </div>
{% endif %}
    <br style='clear:both'/>
</div>
