{% include 'DecisionBundle:Generic:generic.menu.html.twig'%}
<div id="outcome" class="outcome">
    {{ outcome }}
</div>
{{ form(form) }}
{% include 'DecisionBundle:Generic:generic.footer.html.twig'%}