{% include 'DecisionBundle:Generic:generic.menu.html.twig'%}
<div id="outcome" class="outcome">Team has been added!</div>

<div id='player_info' class='player_info'><strong>{{team_name}}, 
{% if team_assisted %}
    assisted mode
{% else %}
    not assisted
{% endif %}
</strong></div>

{% include 'DecisionBundle:Generic:generic.footer.html.twig'%}