<div id='team_box_{{team.getId()}}' class='team_box'>
    <div class='team_item'><strong>{{team.getTeamName()}}</strong></div>
    <div class='team_item'><em>
        {% if team.getTeamAssisted() %}
            assisted
        {% else %}
            not assisted
        {% endif %} </em>
    </div>
    <div class='team_item'>
        {{team.getTeamPlayers().count()}}
    </div>
    <div class='team_action'>
        {% if team.getTeamPlayers().count() < 5 %}
            <a href='{{path('team_add_players',{'team_id': team.getId()}) }}'>Add Players</a>
        {% else %}
            team full
        {% endif %}
    </div>
</div><div style='clear:both'>&nbsp;</div>