{% include 'DecisionBundle:Generic:generic.menu.html.twig' with {'js':'players_add'} %}
<script type='text/javascript'>
    strAjaxPath = '{{ajax_url}}';
    strAjaxRemovePath = '{{ajax_remove_url}}';
    nTeamId = {{team.getId()}};
    strAjaxRemovePlayerPath = '{{ajax_remove_player}}';
</script>

<div id="outcome" class="outcome">Team has been loaded!</div>

{% include 'DecisionBundle:Team:team.list.players.html.twig'%}

{% include 'DecisionBundle:Generic:generic.footer.html.twig'%}