{% include 'DecisionBundle:Generic:generic.menu.html.twig'%}
<div id="outcome" class="outcome">Player has been added!</div>

<div id='player_info' class='player_info'><strong>{{player_name}}, {{player_position}}</strong></div>
{% include 'DecisionBundle:Player:player.attributes.html.twig'%}

{% include 'DecisionBundle:Generic:generic.footer.html.twig'%}