{% include 'DecisionBundle:Generic:generic.menu.html.twig'%}
<div id="outcome" class="outcome">
    {{ outcome }}
    {% if step == 2 %}
        </br><em>{{player_name}}, {{player_position}}</em>
    {% endif %}
</div>
<div class='add_player_form'>
{{ form(form) }}
</div>
{% include 'DecisionBundle:Generic:generic.footer.html.twig'%}